.flex-container {
	display: inline-flex;
	width: 100%;
    flex-direction: column;
}

.flex-container > div {
	background-color: LightSlateGray;
	margin: 20px;
	padding: 20px;
	font-size: 30px;
}

.flex-container > div:hover {
	background-color: DimGray;
}

h1 {
	color: black;
	text-align: center;
}

body {
	background-color: lightblue;
}